<web-app>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Regg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>Logg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Viewer</servlet-name>
        <servlet-class>Vieww</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Viewer</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
</web-app>
    